body {
  color: #5a5a5a;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7142857143;
  letter-spacing: 0.025em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*base
-------------------------*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  background-color: #000;
}
.header__inner {
  width: 87.5%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  margin-left: 30px;
  font-weight: bold;
}
.nav__item a {
  color: #fff;
}
.nav__item .nav__active {
  color: #ED145B;
}

.footer {
  padding: 60px 0 160px;
  background-color: #000;
  color: #fff;
}
.footer__inner {
  width: 87.5%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.post__pic {
  margin-bottom: 25px;
}
.post__pic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 16/9;
}
@media screen and (min-width: 640px) {
  .post__pic img {
    aspect-ratio: 4/3;
  }
}
.post__title {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
  padding: 7px 10px;
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.25;
}
.post__title:last-child {
  margin-bottom: 0;
}

.btn {
  display: block;
  width: 200px;
  margin-top: 80px;
  padding: 15px;
  background-color: #ED145B;
  color: #fff;
  font-weight: bold;
  text-align: center;
}
.btn--info {
  background-color: #EDAA14;
}

/* index.html
-------------------------*/
.message {
  padding: 250px 0 150px;
  background: url(../images/bg_mainvisual.png) no-repeat center/cover;
  color: #fff;
}
@media screen and (min-width: 640px) {
  .message {
    text-align: center;
  }
}
.message__inner {
  width: 87.5%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.message__title {
  margin-bottom: 40px;
  font-size: 46px;
  font-weight: bold;
  line-height: 1.1956521739;
}
.message__title span {
  color: #ED145B;
}
@media screen and (min-width: 640px) {
  .message .btn {
    margin-left: auto;
    margin-right: auto;
  }
}

.updates {
  padding: 80px 0;
}
.updates__inner {
  width: 87.5%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.updates__list {
  margin-bottom: -60px;
}
@media screen and (min-width: 640px) {
  .updates__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.updates__item {
  margin-bottom: 60px;
}
@media screen and (min-width: 640px) {
  .updates__item {
    width: 28.8888888889%;
  }
}
.updates__title {
  margin-bottom: 50px;
  color: #2b2b2b;
  font-size: 38px;
  font-weight: bold;
  line-height: 1.2105263158;
  text-align: center;
}

/* about.html
-------------------------*/
.services {
  padding: 180px 0 80px;
}
.services__inner {
  width: 87.5%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.services__title {
  margin-bottom: 50px;
  color: #2b2b2b;
  font-size: 38px;
  font-weight: bold;
  line-height: 1.2105263158;
  text-align: center;
}
.services__list {
  margin-bottom: -60px;
}
@media screen and (min-width: 640px) {
  .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.services__item {
  margin-bottom: 60px;
}
@media screen and (min-width: 640px) {
  .services__item {
    width: 46.6666666667%;
  }
}
.services__item:nth-child(odd) .post__title {
  margin-left: auto;
}
@media screen and (min-width: 640px) {
  .services__item:nth-child(odd) .post__title {
    margin-left: 0;
  }
}

.testimonials {
  padding: 80px 0;
  background: url(../images/bg_testimonials.png) no-repeat center/cover;
}
.testimonials__inner {
  width: 87.5%;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.testimonials__body {
  padding: 50px;
  background-color: #fff;
  text-align: center;
}
.testimonials__title {
  margin-bottom: 50px;
  color: #2b2b2b;
  font-size: 38px;
  font-weight: bold;
  line-height: 1.2105263158;
  text-align: center;
}
.testimonials__pic {
  margin-bottom: 40px;
}
.testimonials__voice {
  margin-bottom: 25px;
  font-size: 16px;
  line-height: 2;
}
.testimonials__voice span {
  display: inline-block;
}
.testimonials .btn {
  margin: 40px auto 0;
}
/*# sourceMappingURL=style.css.map */