@charset "utf-8";

$color-text: #6C6C6F;
$color-bg-blue: #123D88;
$color-bg-sky: #F7FAFF;
$color-bg-gray: #505050;
$color-title: #262934;
$color-main: #256BE6;
$color-info: #2DBE61;
$color-warning: #F87624;

@mixin inner($w: 90%, $mw: 1200px) {
  width: $w;
  max-width: $mw;
  margin-left: auto;
  margin-right: auto;
}

@mixin flex($a: center, $j: space-between) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $j;
  align-items: $a;
}

@mixin py($y: 80px) {
  padding-top: $y;
  padding-bottom: $y;
}

body {
  color: $color-text;
  font-size: 16px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: (28/16);
  letter-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul {
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

/* common
-------------------------*/
/* header */
.header {
  @include py(30px);
  background-color: $color-bg-blue;

  &__inner {
    @include inner();
  }
}

/* footer */
.footer {
  @include py(32px);
  background-color: $color-bg-blue;
  color: #fff;
  text-align: right;

  &__inner {
    @include inner();
  }

  &__copy {
    font-size: 15px;
  }
}

/* unit */
.unit {

  &__catch {
    margin-bottom: 20px;
    color: $color-main;
    font-size: 14px;
    letter-spacing: (50/1000) * 1em;
    text-transform: uppercase;
  }

  &__title {
    margin-bottom: 40px;
    color: $color-title;
    font-size: 36px;
    font-weight: bold;
    line-height: (48/36);
  }

  &__text {
    margin-bottom: 40px;
  }
}

/* card */
.card {
  &__icon {
    margin-bottom: 40px;
  }

  &__title {
    margin-bottom: 20px;
    color: $color-title;
    font-size: 22px;
    font-weight: bold;
    line-height: (28/22);

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn {
    margin-top: 40px;
  }
}

/* btn */
.btn {
  display: block;
  width: 200px;
  margin-top: 60px;
  padding: 20px 0;
  background-color: $color-main;
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.025em;
  letter-spacing: (25/1000) * 1em;
  border-radius: 27.5px;

  &--info {
    background-color: $color-info;
  }

  &--warning {
    background-color: $color-warning;
  }

  &--outline {
    border: 1px solid;
    background-color: transparent;
  }
}

/* index.html
-------------------------*/
/* features */
.features {
  @include py();

  &__inner {
    @include inner();
    @include flex();
  }

  &__info {
    width: (552 / 1200) * 100%;
  }

  &__list {
    width: (552 / 1200) * 100%;
    margin-bottom: -70px;
    @include flex();
  }

  &__item {
    width: (254 / 552) * 100%;
    margin-bottom: 70px;
  }
}

/* payment */
.payment {
  @include py();
  background-color: $color-bg-sky;

  &__inner {
    @include inner();
    @include flex();
    flex-direction: row-reverse;
  }

  &__info {
    width: (552 / 1200) * 100%;
  }

  &__visual {
    width: (552 / 1200) * 100%;
  }
}

/* service.html
-------------------------*/
/* wedo */
.wedo {
  @include py();

  &__inner {
    @include inner();
  }

  &__info {
    @include inner(100%, 700px);
    margin-bottom: 40px;
    text-align: center;
  }

  &__list {
    @include flex();
    padding: 60px;
    background-color: $color-bg-sky;
  }

  &__item {
    width: (324 / 1080) * 100%;
    padding: 40px;
    text-align: center;
    background-color: #fff;

    .card__icon,
    .btn {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* offer */
.offer {
  @include py();
  background-color: $color-bg-gray;

  &__inner {
    @include inner();
  }

  &__info {
    @include inner(100%, 700px);
    color: #fff;
    text-align: center;

    .unit__title {
      color: #fff;
    }

    .btn {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* help.html
-------------------------*/
/* transfer */
.transfer {
  @include py();

  &__inner {
    @include inner();
  }

  &__info {
    @include inner(100%, 700px);
    margin-bottom: 40px;
    text-align: center;
  }

  &__list {
    @include flex();
  }

  &__item {
    width: (360 / 1200) * 100%;
    text-align: center;

    .card__icon {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* question */
.question {
  @include py();
  background-color: $color-bg-blue;

  &__inner {
    @include inner();
  }

  &__info {
    @include inner(100%, 700px);
    color: #fff;
    text-align: center;

    .unit__title {
      color: #fff;
    }

    .btn {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

/* asked */
.asked {
  @include py();

  &__inner {
    @include inner();
    @include flex();
    flex-direction: row-reverse;
  }

  &__info {
    width: (552 / 1200) * 100%;
  }

  &__list {
    @include flex(stretch);
    width: (552 / 1200) * 100%;
    margin-bottom: -45px;
  }

  &__item {
    width: (254 / 552) * 100%;
    margin-bottom: 45px;
    border: 1px solid;
    text-align: center;

    .card__icon {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
