@charset "utf-8";

$color-text: #888888;
$color-main: #202124;

@mixin inner() {
  max-width: 800px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: $color-text;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  line-height: (24/14);
  letter-spacing: 0;
}

/* header*/
.header {
  padding: 30px 0 60px;
  text-align: center;

  &__inner {
    @include inner();
  }
}

/* footer */
.footer {
  padding: 100px 0 40px;
  background-color: $color-main;
  color: #fff;

  &__inner {
    @include inner();
  }

  &__copy {
    font-size: 12px;
  }
}
