@charset "utf-8";

$color-text: #404040;

$breakpoints: (
  "tablet": "screen and (min-width: 640px)",
  "desktop": "screen and (min-width: 800px)",
  "full": "screen and (min-width: 1200px)",
  ) !default;

@mixin m-query($breakpoint) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin m-inner($w: (560/640)*100%, $mw: 1200px) {
  width: $w;
  max-width: $mw;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: $color-text;
  font-family: Helvetica,
    Arial,
    sans-serif;
  font-size: 14px;
  line-height: (21/14
  );
letter-spacing: (100em/1000);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* index.html
-----------------------*/
/* visual */
.visual {
  padding: 400px 0 100px;
  background: url(../images/pic_main.png) no-repeat center / cover;
  color: #fff;
  text-align: right;

  &__inner {
    @include m-inner();
  }

  &__title {
    margin-bottom: 20px;
    font-size: 42px;
    font-weight: bold;
    line-height: (50/42);

    @include m-query(desktop) {
      font-size: 50px;
      line-height: (60/50);
    }
  }

  &__lead {
    font-size: 18px;
    line-height: (22/18);
  }
}
